aniso8601==9.0.1
attrs==20.3.0
click>=7.1.2
Flask==2.2.5
flask-restx==1.1.0
itsdangerous>=2.0
Jinja2>=3.0.0
jsonschema==3.2.0
MarkupSafe>=2.0
pyrsistent==0.17.3
pytz==2021.1
six==1.15.0
Werkzeug>=2.2.2
aws-xray-sdk==2.4.2
boto3==1.28.2
botocore==1.31.2
opentelemetry-distro==0.40b0
opentelemetry-exporter-otlp==1.19.0
opentelemetry-api==1.19.0
opentelemetry-instrumentation-flask==0.40b0
opentelemetry-instrumentation-requests==0.40b0
opentelemetry-instrumentation-botocore==0.40b0
opentelemetry-sdk-extension-aws==2.0.1
opentelemetry-propagator-aws-xray==1.0.1
protobuf==4.23.4
PyYAML==6.0
requests==2.31.0