<!DOCTYPE htnml>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>{{ title }}</title>
    {% endif %}    
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>
<body>
    <h1>Demo is on going!!</h1><br>
    <table border="1" width="25%" height="15">        
        <tr align="center"> 
            <th> Date </th> <td> {{ time_now }} </td>    
        </tr>
        <tr align="center">
            <th> Region </th> <td> {{ region }} </td>
        </tr>    
    </table>
</body>