<!DOCTYPE htnml>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>{{ title }}</title>
    {% endif %}    
</head>
<body>
    <h1>Here comes the <a href="https://ecs-cats-dogs.workshop.aws/ko/">'DemoGo Prime'</a> Stars!!</h1><br>
    <h2><b>THIS IS WHAT LOVE LOOKS LIKE</b></h2><br>
    {% if True %}
    <img src="{{backend_url}}{{ url_for('static',filename=image_file) }}">
    {% endif %}
</body>